{% extends "auctions/layout.html" %}
{% load app_tags %}

{% block news %}
{% if news and news.user.username == request.user.username %}
    <h4>♥You are Winner in this auction♥</h4>
    <p>({{ news.happens }})</p>
{% elif request.user.id and listing.listedBy.id == request.user.id and not listing.active %}
    <h4>The user has won's this auction is {{ news.user.username }}</h4>
{% endif %}
{% endblock news %}

{% block user %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist
        {% if watchlist %}
         <span class="color01"> {{ watchlist }} </span>
        {% endif %}
    </a>
</li>
{% endblock user %}


{% block body %}
{% if page == "CreateListing" %}
    <h2>Create Listing</h2>
    <form action="{% url 'createListing' %}" method="post">
        {% csrf_token %}
        <table>{{ form }}</table>
        <input type="submit", value="Create">
    </form>


{% elif page == "ActiveListings"%}
    <h2>{% if message %}{{ message }} Active Listings{% else %}All Active Listings{% endif %}</h2>
    {% if activeListings %}
        <table class="activeListings">
            <tbody>
            {% for auction in activeListings %}
                <tr onclick="window.location='{% url 'listing' auction.id %}';">
                    <td>
                        <img class="auction_img" src="{{ auction.image }}" 
                            alt="{% if auction.category %}{{ auction.category }} - {% endif %}{{ auction.title }}'s picture holder"> 
                    </td>
                    <td>
                        <div class="auction_title">
                            {{ auction.title }}
                        </div>
                        <div class="auction_price">
                            {{ auction.price.last.price|usd }}
                        </div>
                        <div class="auction_description">
                            {{ auction.description }}
                        </div>
                        <div class="auction_date">
                            Created {{ auction.created }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% elif page == "ListingPage"%}
    <h2>Listing: {{ listing.title }} </h2>
    {% if request.user.username %}
        {% if whatchlisted %}
            <a class="listing_w_l" href="{% url 'whatchlisting' listing.id "remove" %}"> Remove whatchlist </a>
        {% else %}
            <a class="listing_w_l" href="{% url 'whatchlisting' listing.id "add" %}"> Watchlist </a>
        {% endif %}
    {% endif %}
    <img class="img_listing" src="{{ listing.image }}" 
        alt="{% if listing.category %}{{ listing.category }} - {% endif %}{{ listing.title }}'s picture holder">
    
    <p class="listing_description">{{ listing.description }}</p>

    <h3 class="listing_price">
        {{ listing.price.last.price|usd }} 
        <span class="listing_price_span">(Last Bided: {{ listing.price.last.modified }})</span>
        {% if activities.last.closeUpdate %}
            <span class="listing_price_close">CLOSED!</span>
            <span class="listing_price_span">({{ activities.last.closeUpdate }})</span>
        {% endif %}
    </h3>
    {% if request.user.username %}
        {% if listing.active %}
            <h6 class="listing_sit">
                {{ listing.price.all.count }} bid{% if listing.price.all.count > 1 %}s{% endif %} so far.
                {% if listing.price.last.user.username == request.user.username %} Your bid is the current bid.{% endif %}
            </h6>
            <h6 class="listing_sit">
                {% if notice %}{{ notice }}{% endif %}
            </h6>

            <form class="listing_form" action="{% url 'listing' listing.id  %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary" type="submit" value="Place Bid">
            </form>
            <form class="listing_form_close" action="{% url 'close' listing.id %}" method="post">
                {% csrf_token %}
                {% if listing.listedBy.username == request.user.username %}
                    <input class="btn btn-danger" type="submit" value="Close Bid">
                {% endif %}
            </form>
        {% endif %}
    {% endif %}
    <h3 class="listing_details">Details</h3>
    <ul class="listing_details_ul">
        <li>Listed by: <a href="{% url 'user_lists' listing.listedBy.id %}">{{ listing.listedBy.username }}</a></li>
        <li>Category: {% if listing.category %}{{ listing.category }}{% else %}No Category Listed{% endif %}</li>
    </ul>

    {% if request.user.username %}
        <hr>
        {% if listing.active %}<h3>Leave Comment</h3>{% endif %}
        {% if listing.active %}
            <form class="listing_form_comment" action="{% url 'comment' listing.id %}" method="post">
                {% csrf_token %}
                {{ commentForm }}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
        <div class="listing_comments">
            <h3>Comments</h3>
            <ul>
                {% for comment in comments %}
                    <div class="listing_comment_author">
                        {{ comment.user.username }} ({{ comment.created }})
                    </div>
                    <div class="listing_comment">
                        <li>
                            {{ comment }}
                        </li>
                    </div>
                {% empty %}
                No Comments
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% elif page == "Watchlist"%}
    <h2>Watchlists</h2>
    {% if watchlists %}
        <ul>
            <h5>Index:</h5>
            {% for watchlist in watchlists %}
                <li>
                    <a href="#{{ watchlist.auctionListing.id }}">{{ watchlist.auctionListing.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <table class="activeListings">
            <tbody>
            {% for auction in watchlists %}
                <tr id="{{ auction.auctionListing.id }}" onclick="window.location='{% url 'listing' auction.auctionListing.id %}';">
                    <td>
                        <img class="auction_img" src="{{ auction.auctionListing.image }}" 
                            alt="{% if auction.auctionListing.category %}{{ auction.auctionListing.category }} - {% endif %}{{ auction.auctionListing.title }}'s picture holder"> 
                    </td>
                    <td>
                        <div class="auction_title">
                            {{ auction.auctionListing.title }}
                        </div>
                        <div class="auction_price">
                            {{ auction.auctionListing.price.last.price|usd }}
                        </div>
                        <div class="auction_description">
                            {{ auction.auctionListing.description }}
                        </div>
                        <div class="auction_date">
                            Created {{ auction.auctionListing.created }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h5>   No Watchlists</h5>
    {% endif %}

{% elif page == "Categories"%}
    <h2> {% if id %}{{ categories.first.category.name }}'s Category{% else %}Categories{% endif %}</h2>
    {% if not id %}
        <ol>
            {% for category in categories %}
                <a href="{% url 'categories' category.id %}">
                    <li>{{ category.name }}</li>
                </a>
            {% endfor %}
        </ol>
    {% else %}
        {% if categories %}
            <ol>
                {% for category in categories %}
                    <a href="#{{ category.id }}">
                        <li>{{ category.title }}</li>
                    </a>
                {% endfor %}
            </ol>        
            <table class="activeListings">
                <tbody>
                {% for auction in categories %}
                    <tr id="{{ auction.id }}" onclick="window.location='{% url 'listing' auction.id %}';">
                        <td>
                            <img class="auction_img" src="{{ auction.image }}" 
                                alt="{% if auction.category %}{{ auction.category }} - {% endif %}{{ auction.title }}'s picture holder"> 
                        </td>
                        <td>
                            <div class="auction_title">
                                {{ auction.title }}
                            </div>
                            <div class="auction_price">
                                {{ auction.price.last.price|usd }}
                            </div>
                            <div class="auction_description">
                                {{ auction.description }}
                            </div>
                            <div class="auction_date">
                                Created {{ auction.created }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    {% endif %}
    
{% endif %}
{% endblock %}
{% block footer %}
    <hr class="footer_hr">
    <h5 class="footer_h5">Programmer: <a href="mailto:parmer_110@yahoo.com">@Ali Eshraghi</a></h5>
{% endblock  %}