{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block name %}
<h3>      Hello, {{ name }} </h3>
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="current" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}